ASSETS_DIRECTORY=/path/to/images

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_NAME=your_db
DB_PASSWORD=your_password
DATABASE_URL=postgres://postgres:your_password@localhost:5432/your_db?sslmode=disable

REDIS_ADDR=localhost:6379
GRPC_PORT=50051
WORKER_COUNT=4
